# Mighty Work Assignment

## Edith Iyer-Hernandez
***

## Python Section
<br>
Use python to transform the attached csv into multiple tables that match the data model below.
<br>
Notes:
<br>
1. All the required tables and fields are shown below
<br>
2. Because there are few data, it is acceptable to use a random number generator for all the ids
<br>
3. A name is the same between two rows (plaintiff, attorney, etc) it should result in a single object (row) in that table
<br><br>
If instructions are unclear or you get stuck, do your best to show your thinking and move to the next step. State your assumptions in markdown.

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Set a Random Seed for the number generator
random_seed = 42

In [3]:
#Import the dataset
df = pd.read_csv('./mighty_data_challenge.csv')

In [4]:
#Inspect for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
plaintiff_name       8 non-null object
plaintiff_address    5 non-null object
plainitiff_phone     6 non-null object
plaintiff_email      6 non-null object
agreement_date       8 non-null object
lien_description     8 non-null object
lien_open_closed     8 non-null object
lienholder           8 non-null object
attorney             7 non-null object
dtypes: object(9)
memory usage: 656.0+ bytes

In [5]:
#We can view the dataframe all in one cell as it is quite small
df

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp

We must add a few additional columns to help identify specific aspects of the dataframe. We will add the following id columns:
- Lienholder ID
- Case ID
- Attorney ID
- Plaintiff ID
- Lien ID
<br>
For each of these I will assign one random number to be the id for each unique value.

## Create a function that uses original column unique values to generate the appropriate unique IDs for each section.

In [6]:
def get_unique_ids(df, col, new_col_name): #Where df is the dataframe and col is unique column string
    
    #create a list of unique names
    unique_names = list(df[col].unique())
    
    #create a new column of plaintiff names
    df[new_col_name] = df[col]
    
    #Create a dictionary of unique  with associated randomly generated unique ids
    unique_names_ids = dict(zip(unique_names, np.random.randint(1, 1000, len(unique_names))))
    
    #Replace new column with unique ids using .replace and the unique_names_ids
    df[new_col_name] = df[new_col_name].replace(unique_names_ids)
    
    return df

### Plaintiff IDs

In [7]:
get_unique_ids(df, 'plaintiff_name', 'plaintiff_id')

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911

### Lienholder IDs

In [8]:
get_unique_ids(df, 'lienholder', 'lienholder_id')

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id,lienholder_id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65,325
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65,325
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676,325
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208,325
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578,325
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345,325
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550,325
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911,325

### Attorney IDs

In [9]:
get_unique_ids(df, 'attorney', 'attorney_id')

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id,lienholder_id,attorney_id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65,325,404
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65,325,404
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676,325,243
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208,325,404
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578,325,154
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345,325,404
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550,325,560
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911,325,798

### Lien IDs: These are all unique, we will use the `lien_description` to show unique liens

In [10]:
get_unique_ids(df, 'lien_description', 'lien_id')

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id,lienholder_id,attorney_id,lien_id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65,325,404,342
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65,325,404,846
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676,325,243,817
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208,325,404,984
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578,325,154,876
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345,325,404,913
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550,325,560,148
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911,325,798,942

### Case IDs: These are actually more challenging but in the case of this particular dataset, we can create unique case IDs using the plaintiff names - only Steve Freud has two cases.

In [11]:
get_unique_ids(df, 'plaintiff_name', 'case_id')

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id,lienholder_id,attorney_id,lien_id,case_id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65,325,404,342,769
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65,325,404,846,769
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676,325,243,817,778
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208,325,404,984,72
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578,325,154,876,938
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345,325,404,913,160
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550,325,560,148,905
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911,325,798,942,962

#### Quick cleaning - 
Replace `plainitiff_phone` with `plaintiff_phone`

In [12]:
df.rename({'plainitiff_phone': 'plaintiff_phone'}, axis=1, inplace=True)

__There are no attorney phones numbers or emails in the original csv, therefore, we will create fake numbers and emails for each unique attorney__

In [13]:
df.attorney.unique()

array(['Joseph Breitstein', 'Julian Michaels', nan, 'Sarah McConnor',
       'Lisle Von Trapp'], dtype=object)

#### Attorney phone numbers

In [14]:
attorney_phones = {'Joseph Breitstein': '718-555-1234',
 'Julian Michaels': '917-555-1234', 
 'nan': 'nan', 
 'Sarah McConnor': '212-555-1234', 
 'Lisle Von Trapp': '678-555-1234'}

#### Attorney Emails

In [15]:
attorney_emails = {'Joseph Breitstein': 'jb@fake.gmail.com',
 'Julian Michaels': 'jm@fake.gmail.com', 
 'nan': 'nan', 
 'Sarah McConnor': 'sm@fake.gmail.com', 
 'Lisle Von Trapp': 'lvt@fake.gmail.com'}

### Attorney Phones

In [16]:
df['attorney_phone'] = df['attorney']
df['attorney_phone'] = df['attorney_phone'].replace(attorney_phones)
df

,plaintiff_name,plaintiff_address,plaintiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id,lienholder_id,attorney_id,lien_id,case_id,attorney_phone
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65,325,404,342,769,718-555-1234
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65,325,404,846,769,718-555-1234
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676,325,243,817,778,917-555-1234
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208,325,404,984,72,718-555-1234
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578,325,154,876,938,NaN
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345,325,404,913,160,718-555-1234
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550,325,560,148,905,212-555-1234
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911,325,798,942,962,678-555-1234

### Attorney Emails

In [17]:
df['attorney_email'] = df['attorney']
df['attorney_email'] = df['attorney_email'].replace(attorney_emails)
df

,plaintiff_name,plaintiff_address,plaintiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_id,lienholder_id,attorney_id,lien_id,case_id,attorney_phone,attorney_email
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,65,325,404,342,769,718-555-1234,jb@fake.gmail.com
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,65,325,404,846,769,718-555-1234,jb@fake.gmail.com
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,676,325,243,817,778,917-555-1234,jm@fake.gmail.com
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein,208,325,404,984,72,718-555-1234,jb@fake.gmail.com
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,578,325,154,876,938,NaN,NaN
5,Mikey Bipps,NaN,(937) 276-0317,NaN,5/27/2018,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,345,325,404,913,160,718-555-1234,jb@fake.gmail.com
6,Tommy Boi,NaN,903-6406,NaN,1/2/2019,values is 400,CLOSED,General Assembly,Sarah McConnor,550,325,560,148,905,212-555-1234,sm@fake.gmail.com
7,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,4/7/2017,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,911,325,798,942,962,678-555-1234,lvt@fake.gmail.com

## Table Creation

### Plaintiff Table
Contains:
- `plaintiff_id`
- `plaintiff_name`
- `plaintiff_address`
- `plaintiff_phone`
- `plaintiff_email`

In [18]:
#Plaintiffs
plaintiffs = pd.DataFrame(data = df, columns = ['plaintiff_id', 
                                   'plaintiff_name', 
                                   'plaintiff_address', 
                                   'plaintiff_phone', 
                                   'plaintiff_email'])
plaintiffs.drop_duplicates(inplace=True)
plaintiffs.reset_index(drop=True, inplace = True)
plaintiffs

,plaintiff_id,plaintiff_name,plaintiff_address,plaintiff_phone,plaintiff_email
0,65,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com
1,676,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com
2,208,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com
3,578,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com
4,345,Mikey Bipps,NaN,(937) 276-0317,NaN
5,550,Tommy Boi,NaN,903-6406,NaN
6,911,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com

### Lien Table
Contains:
- `lien_id`
- `case_id`
- `lien_description`
- `lien_open_closed`
- `lienholder_id`

In [19]:
#Liens
liens = pd.DataFrame(data = df, columns = ['lien_id',
                                   'case_id', 
                                   'lien_description', 
                                   'lien_open_closed',
                                   'lienholder_id'])
liens

,lien_id,case_id,lien_description,lien_open_closed,lienholder_id
0,342,769,"this is the first lien on the case , valued at...",OPEN,325
1,846,769,second lien on the case,OPEN,325
2,817,778,"this interest has settled, waiting for payment",CLOSED,325
3,984,72,700,OPEN,325
4,876,938,"value is 100,000 pay off is expected to be tak...",OPEN,325
5,913,160,"bought at 30% of value, value is 300",OPEN,325
6,148,905,values is 400,CLOSED,325
7,942,962,plaintiff is requesting additional liens,OPEN,325

### Lienholder Table
Contains:
- `lienholder_id`
- `lienholder`

In [20]:
lienholder = pd.DataFrame(data = df, columns = ['lienholder_id', 'lienholder'])
lienholder.drop_duplicates(inplace = True)
lienholder

   lienholder_id        lienholder
0            325  General Assembly

### Case Table
Contains:
- `case_id`
- `plaintiff_id`
- `agreement_date`
- `attorney_id`

In [21]:
case = pd.DataFrame(data = df, columns = ['case_id',
                                          'plaintiff_id',
                                          'agreement_date',
                                          'attorney_id'])
case.drop_duplicates(inplace = True)
case.reset_index(drop = True, inplace = True)
case

   case_id  plaintiff_id agreement_date  attorney_id
0      769            65      4/16/2015          404
1      778           676      9/19/2017          243
2       72           208       2/2/2018          404
3      938           578       6/9/2017          154
4      160           345      5/27/2018          404
5      905           550       1/2/2019          560
6      962           911       4/7/2017          798

### Attorney
Contains:
- `attorney_id`
- `attorney`
- `attorney_phone`
- `attorney_email`

In [36]:
attorney = pd.DataFrame(data = df, columns = ['attorney_id',
                                              'attorney',
                                              'attorney_phone',
                                              'attorney_email'])
attorney.drop_duplicates(inplace = True)
attorney.reset_index(drop = True, inplace = True)
attorney

   attorney_id           attorney attorney_phone      attorney_email
0          475  Joseph Breitstein   718-555-1234   jb@fake.gmail.com
1          210    Julian Michaels   917-555-1234   jm@fake.gmail.com
2          623                NaN            NaN                 NaN
3           94     Sarah McConnor   212-555-1234   sm@fake.gmail.com
4          303    Lisle Von Trapp   678-555-1234  lvt@fake.gmail.com

# SQL Section
### I used `sqlalchemy` and MySQL for the SQL portion of the assignment.

In [170]:
#import
from sqlalchemy import create_engine
#instantiate engine
engine = create_engine('sqlite://', echo=False)

### Convert exisiting pandas dataframes to SQL tables

In [74]:
liens.to_sql('liens', con=engine)

In [76]:
case.to_sql('cases', con=engine)

In [77]:
attorney.to_sql('attornies', con=engine)

In [78]:
plaintiffs.to_sql('plaintiffs', con=engine)

In [91]:
lienholder.to_sql('lienholder_2', con=engine)

In [94]:
engine.execute("SELECT * FROM lienholder_2").fetchall()

[(0, 794, 'General Assembly')]

In [79]:
engine.execute("SELECT case_id FROM cases").fetchall()

[(894,), (149,), (242,), (740,), (80,), (707,), (733,)]

### New tables to be created with SQL:
- law_firms (These will be randomly generated as they do not exist in the csv file provided - more specifically, I created 2 lawfirms)
    - lawfirm_id
    - lawfirm
    - lawfirm_address
    - lawfirm_phone
    - lawfirm_email
- party_relationships (I add some attornies to one lawfirm and some attornies to another)
    - relationship_id
    - law_firm_id
    - attorney_id
    <br>
More specifically, we will put attorney_id 475 and 303 into lawfirm_id 1, and attorney_id 210, 94, and 623 into lawfirm_id 2.
<br>
- case_updates - NOTE: it seems superflous to add a separate update_id column that will not be used in the future. Therefore, I will not add this column. 
    - case_id
    - body (lien_description from liens)
    - created_at (aggreement_date from cases)

#### Create Law Firms table

In [105]:
# #create the table
engine.execute("CREATE TABLE law_firms(lawfirm_id INT, lawfirm VAR, lawfirm_address VAR, lawfirm_phone VAR, lawfirm_email VAR)")
# #Create first fake law firm
engine.execute("INSERT INTO law_firms VALUES (1, 'Fake NYC Attornies', '1 Lawyer Way', '212-555-4321', 'law@fakenycattornies.com')")
# #Create second fake law firm
engine.execute("INSERT INTO law_firms VALUES (2, 'Fake Brooklyn Attornies', '2 Lawyer Way', '718-555-4321', 'law@fakebkattornies.com')")

In [106]:
#View Table
engine.execute("SELECT * FROM law_firms").fetchall()

[(1, 'Fake NYC Attornies', '1 Lawyer Way', '212-555-4321', 'law@fakenycattornies.com'),
 (2, 'Fake Brooklyn Attornies', '2 Lawyer Way', '718-555-4321', 'law@fakebkattornies.com')]

#### Create party relationships table

In [110]:
# #create the table
engine.execute("CREATE TABLE party_relationships(relationship_id INT, lawfirm_id INT, attorney_id INT)")
# #Create first relationship
engine.execute("INSERT INTO party_relationships VALUES (1, 1, 475)")
# #Create second relationship
engine.execute("INSERT INTO party_relationships VALUES (2, 1, 303)")
# #Create third relationship
engine.execute("INSERT INTO party_relationships VALUES (3, 2, 210)")
# # Create fourth relationship
engine.execute("INSERT INTO party_relationships VALUES(4, 2, 94)")
#Create fifth relationship
engine.execute("INSERT INTO party_relationships VALUES(5, 2, 623)")

In [111]:
#view table
engine.execute("SELECT * FROM party_relationships").fetchall()

[(1, 1, 475), (2, 1, 303), (3, 2, 210), (4, 2, 94), (5, 2, 623)]

#### Create Case Updates table

In [113]:
#Create from cases with case_id and agreement_date columns and liens.description column, joined on case_id
engine.execute("CREATE TABLE case_updates AS SELECT cases.case_id, cases.agreement_date, liens.lien_description FROM cases JOIN liens ON cases.case_id = liens.case_id")

In [114]:
#View table
engine.execute("SELECT * FROM case_updates").fetchall()

[(894, '4/16/2015', 'second lien on the case'),
 (894, '4/16/2015', 'this is the first lien on the case , valued at 6000'),
 (149, '9/19/2017', 'this interest has settled, waiting for payment'),
 (242, '2/2/2018', '700'),
 (740, '6/9/2017', 'value is 100,000 pay off is expected to be taken at a reduction'),
 (80, '5/27/2018', 'bought at 30% of value, value is 300'),
 (707, '1/2/2019', 'values is 400'),
 (733, '4/7/2017', 'plaintiff is requesting additional liens')]

### SQL QUERY 1:
Pull:
- `case_id` from `cases`
- `plaintiff_name` from `plaintiffs`, joining on `plaintiff_id`
- `attorney` from `attornies`, joining on `attorney_id`
- `lien_description` from `liens` joining on `lien_id`
<br>
For liens held by lienholder General Assembly, which is associated with the lienholder_id of 794, which can be referenced through `liens.lienholder_id = 794`.
<br>
<br>
***
SQL Code:

```
SELECT cases.case_id, 
plaintiffs.plaintiff_name, 
attornies.attorney, 
liens.lien_description 
FROM cases 
JOIN plaintiffs 
ON cases.plaintiff_id = plaintiffs.plaintiff_id 
JOIN attornies 
ON cases.attorney_id = attornies.attorney_id 
JOIN liens 
ON cases.case_id=liens.case_id 
WHERE liens.lienholder_id = 794;
```
<br><br>

Output:
```
[(894, 'Steve Freud', 'Joseph Breitstein', 'this is the first lien on the case , valued at 6000'),
 (894, 'Steve Freud', 'Joseph Breitstein', 'second lien on the case'),
 (149, 'Jordan Leung', 'Julian Michaels', 'this interest has settled, waiting for payment'),
 (242, 'Bryce Eakin', 'Joseph Breitstein', '700'),
 (740, 'Kyle Paine', None, 'value is 100,000 pay off is expected to be taken at a reduction'),
 (80, 'Mikey Bipps ', 'Joseph Breitstein', 'bought at 30% of value, value is 300'),
 (707, 'Tommy Boi', 'Sarah McConnor', 'values is 400'),
 (733, 'Mimi Swerve', 'Lisle Von Trapp', 'plaintiff is requesting additional liens')]
 ```

In [96]:
engine.execute("SELECT cases.case_id, plaintiffs.plaintiff_name, attornies.attorney, liens.lien_description FROM cases JOIN plaintiffs ON cases.plaintiff_id = plaintiffs.plaintiff_id JOIN attornies ON cases.attorney_id = attornies.attorney_id JOIN liens on cases.case_id=liens.case_id WHERE liens.lienholder_id = 794").fetchall()

[(894, 'Steve Freud', 'Joseph Breitstein', 'this is the first lien on the case , valued at 6000'),
 (894, 'Steve Freud', 'Joseph Breitstein', 'second lien on the case'),
 (149, 'Jordan Leung', 'Julian Michaels', 'this interest has settled, waiting for payment'),
 (242, 'Bryce Eakin', 'Joseph Breitstein', '700'),
 (740, 'Kyle Paine', None, 'value is 100,000 pay off is expected to be taken at a reduction'),
 (80, 'Mikey Bipps ', 'Joseph Breitstein', 'bought at 30% of value, value is 300'),
 (707, 'Tommy Boi', 'Sarah McConnor', 'values is 400'),
 (733, 'Mimi Swerve', 'Lisle Von Trapp', 'plaintiff is requesting additional liens')]

### SQL Query 2:
Pull all unique attornies with their contact info(phone and email) that are assigned to one or more cases that haven't had a case update in 72 days. In this particular dataset, we can see that there is only 1 case that has been updated in the past 72 days and it is the only value from 2019.
<br>
***
SQL Code:
<br>
```
SELECT attornies.attorney, 
attornies.attorney_phone, 
attornies.attorney_email 
FROM attornies 
JOIN cases 
ON attornies.attorney_id = cases.attorney_id 
JOIN case_updates 
ON cases.case_id = case_updates.case_id 
WHERE case_updates.agreement_date 
NOT LIKE '%2019' 
GROUP BY cases.attorney_id 
HAVING COUNT(*)>=1; 
```
<br><br>
Output:
```
[('Julian Michaels', '917-555-1234', 'jm@fake.gmail.com'),
 ('Lisle Von Trapp', '678-555-1234', 'lvt@fake.gmail.com'),
 ('Joseph Breitstein', '718-555-1234', 'jb@fake.gmail.com'),
 (None, None, None)]
 ```

In [146]:
engine.execute("SELECT attornies.attorney, attornies.attorney_phone, attornies.attorney_email FROM attornies JOIN cases ON attornies.attorney_id = cases.attorney_id JOIN case_updates ON cases.case_id = case_updates.case_id WHERE case_updates.agreement_date NOT LIKE '%2019' GROUP BY cases.attorney_id HAVING COUNT(*)>=1 ").fetchall()

[('Julian Michaels', '917-555-1234', 'jm@fake.gmail.com'),
 ('Lisle Von Trapp', '678-555-1234', 'lvt@fake.gmail.com'),
 ('Joseph Breitstein', '718-555-1234', 'jb@fake.gmail.com'),
 (None, None, None)]

### SQL Query 3:
Rank Law Firms(id, name) by number of cases associate with it. 
<br>
We can find the number of cases associated with each law firm by joining the `law_firm` table with the `party_relationships` table as they share the `lawfirm_id` column. From there, I joined the `party_relationships` table with the `cases` table because they share the `attorney_id` column and because the `cases` table allows us to discover how many cases are associate with some grouping factor, in this case, `lawfirm_id`. I then ordered by the count in descending order.
***
SQL CODE
```
SELECT law_firms.lawfirm_id, 
law_firms.lawfirm 
FROM law_firms 
JOIN party_relationships 
ON law_firms.lawfirm_id = party_relationships.lawfirm_id 
JOIN cases 
ON party_relationships.attorney_id=cases.attorney_id 
GROUP BY law_firms.lawfirm_id 
ORDER BY COUNT(*) DESC;
```
<br><br>

Output:
```
[(1, 'Fake NYC Attornies'), (2, 'Fake Brooklyn Attornies')]
```

In [169]:
engine.execute("SELECT law_firms.lawfirm_id, law_firms.lawfirm FROM law_firms JOIN party_relationships ON law_firms.lawfirm_id = party_relationships.lawfirm_id JOIN cases ON party_relationships.attorney_id=cases.attorney_id GROUP BY law_firms.lawfirm_id ORDER BY COUNT(*) DESC").fetchall()

[(1, 'Fake NYC Attornies'), (2, 'Fake Brooklyn Attornies')]

In [ ]:
for col in df.get_numeric():
    df['col'].apply(lambda x: )